// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logo-sponsor
{
    height: $logo-size;
}

.webcam-preview
{
    width: 500px;
    height: 500px;
    margin: 0px auto;
}
