// Body
$body-bg: #ffffff;
$primary: #d92938;
$secondary: #f1b998;
$disabled: #d9d8d2;
$warning: #f1b998;
$error: #d92938;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$logo-size: 80px;

$home-icon-size: 160px;
$home-icon-size-mini: 1em;
